.spot-input input, .spot-input textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid lightgray;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 16px;
  }

.spot-title-input {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 16px;
}

.create-spot-div{
  margin-right: 500px;
  margin-left: 500px;
}