.get-spot-image {
    max-width: 700px;
    display: flex;
    height: auto;
}

.cute-font-title {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.cute-font-text {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 16px;
}

.location-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
}

.update-button {
    padding: 20px;
    text-decoration: none;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

.all-images {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 8px;
}

.main-image {
    display: flex;
    justify-content: right;
    align-items: center;
}

/* .get-spot-image{
    justify-content: right;
} */

.small-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:8px;
}

.smaller-image {
    width: 100%;
    height: auto;
}

.father-div{
    margin-right: 150px;
    margin-left: 150px;
}

.reserve-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 248, 249);
    padding: 20px;
    width: 200px;
    position: absolute;
    right: 0;
}

.side-by-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-card {
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: 0 2px 4px pink;
}

.review-align {
    display: flex;
    justify-content: space-between;
    color: darkgray;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    color: rgb(106, 75, 94);
}

.review-date {
    font-size: 15px;
    color: gray;
}

.cute-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    color: rgb(106, 75, 94);
}