h1 {
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}
  
li {
  padding: 15px;
  box-shadow: 0 2px 4px lightgray;
}
.spot-image {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
