.nav-link {
    color: rgb(88, 88, 88);
    padding:8px;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

.nav-link:hover {
    background-color: rgb(255, 233, 250);
}

.off-to-right {
    width: 100% ;
    display: flex;
    justify-content: flex-end;
}

.new-spot-link{
    color: rgb(88, 88, 88);
    padding:8px;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    justify-content: right;
}

.new-spot-link:hover {
    background-color: rgb(255, 233, 250);

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(254, 248, 249);
}

.oasis-text {
    color: rgb(88, 88, 88);
    padding:3px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: inherit;
    font-style: normal;
    font-size: 21px;
    margin-top: 20px;
}

.oasis-nav {
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.oasis-logo {
    width: 35px;
}

.profile-button{
    margin-right: 150px;
}
